//- комментарий
    comment - комментарий
    enableSchema - добавить разметку schema.org
    topic { id, link, commentsAllowed } - тема
    showMenu - показывать ли меню добавить/удалить/ссылка/тп

//- пользователь
    user - класс ApiUserRef
    link - ставить ли ссылку на профиль
    rel - значение атрибута rel ссылки
    itemprop - значение атрибута itemprop ссылки
mixin user(user, link, rel, itemprop)
    if user.blocked
        s
            if link
                a(href='/people/#{user.nick}/profile',rel=rel,itemprop=itemprop)
                    | #{user.nick}
            else
                | #{user.nick}
    else
        if link && !user.anonymous
            a(href='/people/#{user.nick}/profile',rel=rel,itemprop=itemprop)
                | #{user.nick}
        else
            | #{user.nick}

//- подпись к посту
    user - класс ApiUserRef
    shortMode - boolean; короткий режим (для новостей)
    author - boolean; является ли автором страницы
    postdate - дата; дата написания
    timeprop - атрибут itemprop даты
mixin sign(user, shortMode, author, postdate, timeprop)
    if author
        mixin user(user, true, "author", itemprop="creator")
    else
        mixin user(user, true, rel=false, itemprop="creator")

    | #{' '}

    if !shortMode
        span.stars
            !{user.stars}
    if !shortMode && user.score!=null
        |  (Score: #{user.score} MaxScore: #{user.maxScore})

    |  (

    mixin time(postdate, timeprop)

    | )

mixin time(postdate, timeprop)
    time(datetime='#{ dateFormat.iso(postdate) }', itemprop='#{timeprop}', data-format='default') #{ dateFormat.apply(postdate) }

mixin userpic(userpic)
    div.userpic
        img.photo(src=userpic.url, width=userpic.width, height=userpic.height)

mixin comment(comment, topic, showMenu)
    article(class='msg',id='comment-#{comment.id}')
        div.title
            if comment.deleted
                if comment.deleteInfo==null
                    strong
                        | Сообщение удалено
                else
                    strong
                        | Сообщение удалено #{comment.deleteInfo.nick} по причине #{comment.deleteInfo.reason}

                if comment.undeletable
                    | &emsp;
                    a(href='/undelete_comment?msgid=#{comment.id}')
                        | [Восстановить]

                br

            if comment.reply!=null
                if comment.reply.deleted
                    | Ответ на: удаленный комментарий
                else
                    if comment.reply.samePage
                        samePage = "samePage"
                    else
                        samePage = false

                    | Ответ на:#{' '}
                    a(href='#{topic.link}?cid=#{comment.reply.id}', data-samepage=samePage)
                        if comment.reply.title != null
                            | !{comment.reply.title}
                        else
                            | комментарий
                    |  от #{comment.reply.author}#{' '}
                    mixin time(comment.reply.postdate, false)

        div.msg-container
            if comment.userpic
                mixin userpic(comment.userpic)
                msgBodyStyle = 'message-w-userpic'
            else
                msgBodyStyle = false
    
            div(class='msg_body #{msgBodyStyle}')
                if comment.title
                    h1= comment.title
    
                | !{comment.processedMessage}

                div.sign
                    mixin sign(comment.author, false, false, comment.postdate, 'commentTime')
        
                    if comment.remark
                        | #{' '}
                        span.user-remark= comment.remark
        
                    if comment.postIP
                        |  (
                        a(href='sameip.jsp?ip=#{comment.postIP}')
                            | #{comment.postIP}
                        )
        
                    if comment.editSummary
                        span.sign_more
                            br
                            | Последнее исправление: #{comment.editSummary.editNick}#{' '}
                            mixin time(comment.editSummary.editDate, false)
                            |  (всего #{' '}
                            a(href='#{topic.link}/#{comment.id}/history')
                                | исправлений: #{comment.editSummary.editCount}
                            | )
        
                    if comment.userAgent
                        br
                        span.sign_more
                            | #{comment.userAgent} #{' '}
                            a(href='sameip.jsp?ua=#{comment.userAgentId}&ip=#{comment.postIP}&mask=0')
                                | &#x1f50d;


                if !comment.deleted && showMenu
                    div.reply
                        ul
                            if topic.commentsAllowed
                                li
                                    a(href='add_comment.jsp?topic=#{topic.id}&replyto=#{comment.id}', data-author-readonly='#{comment.authorReadonly}')
                                        | Ответить
                                        span.hideon-phone
                                            |  на это сообщение

                            | #{' '}
        
                            if comment.editable
                                li
                                    a(href='/edit_comment?original=#{comment.id}&topic=#{topic.id}')
                                        | Править
        
                            | #{' '}
        
                            if comment.deletable
                                li
                                    a(href='/delete_comment.jsp?msgid=#{comment.id}')
                                        | Удалить
        
                            | #{' '}

                            if comment.answerCount > 1
                                li
                                    a(href='#{comment.answerLink}')
                                        | Показать ответы
                                | #{' '}

                            if comment.answerCount == 1
                                if comment.answerSamepage
                                    samePage = "samePage"
                                else
                                    samePage = false

                                li
                                    a(href='#{comment.answerLink}', data-samepage=samePage)
                                        | Показать ответ
                                | #{' '}

                            li
                                a(href='#{topic.link}?cid=#{comment.id}')
                                    | Ссылка

    
mixin comment(comment, topic, showMenu)
