//- пользователь
    user - класс ApiUserRef
    link - ставить ли ссылку на профиль
    rel - значение атрибута rel ссылки
    itemprop - значение атрибута itemprop ссылки
mixin user(user, link, rel, itemprop)
    if user.blocked
        s
            if link
                a(href='/people/#{user.nick}/profile',rel=rel,itemprop=itemprop)
                    | #{user.nick}
            else
                | #{user.nick}
    else
        if link && !user.anonymous
            a(href='/people/#{user.nick}/profile',rel=rel,itemprop=itemprop)
                | #{user.nick}
        else
            | #{user.nick}

//- подпись к посту
    user - класс ApiUserRef
    shortMode - boolean; короткий режим (для новостей)
    author - boolean; является ли автором страницы
    postdate - дата; дата написания
    timeprop - атрибут itemprop даты
mixin sign(user, shortMode, author, postdate, timeprop)
    if author
        mixin user(user, true, "author", itemprop="creator")
    else
        mixin user(user, true, rel=false, itemprop="creator")

    | #{' '}

    if !shortMode && user.stars!=null
        span(class="stars")
            each item in user.stars
                if item
                    | ★
                else
                    | ☆
    if !shortMode && user.score!=null
        |  (Score: #{user.score} MaxScore: #{user.maxScore})

    |  (

    mixin time(postdate, timeprop)

    | )

mixin time(postdate, timeprop)
    time(datetime='#{ dateFormat.iso(postdate) }', itemprop='#{timeprop}') #{ dateFormat.apply(postdate) }

mixin userpic(userpic)
    div.userpic
        img.photo(src=userpic.url, width=userpic.width, height=userpic.height)