//- комментарий
    comment - комментарий
    enableSchema - добавить разметку schema.org
    topic { id, link, commentsAllowed } - тема
    showMenu - показывать ли меню добавить/удалить/ссылка/тп

include common

mixin comment(comment, enableSchema, topic, showMenu)
    if enableSchema
        articleItemprop = "comment"
        articleItemscope = "itemscope"
        articleItemtype = "http://schema.org/UserComments"
        replyItemprop = "replyToUrl"
    
    article(class='msg',id='comment-#{comment.id}', itemprop=articleItemprop, itemscope=articleItemscope, itemtype=articleItemtype)
        div.title
            if comment.deleted
                if comment.deleteInfo==null
                    strong
                        | Сообщение удалено
                    br
                else
                    strong
                        | Сообщение удалено #{comment.deleteInfo.nick} по причине #{comment.deleteInfo.reason}
                    br
    
            if comment.reply!=null
                if comment.reply.samePage
                    samePage = "samePage"
                else
                    samePage = false
    
                | Ответ на:#{' '}
                a(href='#{topic.link}?cid=#{comment.reply.id}', data-samepage=samePage)
                    if comment.reply.title != null
                        | !{comment.reply.title}
                    else
                        | комментарий
                |  от #{comment.reply.author}#{' '}
                mixin time(comment.reply.postdate, false)

        div.msg-container
            if comment.userpic
                mixin userpic(comment.userpic)
                msgBodyStyle = 'message-w-userpic'
            else
                msgBodyStyle = false
    
            div(class='msg_body #{msgBodyStyle}')
                if comment.title
                    h2= comment.title
    
                | !{comment.processedMessage}

                div.sign
                    mixin sign(comment.author, false, false, comment.postdate, 'commentTime')
        
                    if comment.remark
                        | #{' '}
                        span.user-remark= comment.remark
        
                    if comment.postIP
                        |  (
                        a(href='sameip.jsp?msgid=#{comment.id}')
                            | #{comment.postIP}
                        )
        
                    if comment.editSummary
                        span.sign_more
                            br
                            | Последнее исправление: #{comment.editSummary.editNick}#{' '}
                            mixin time(comment.editSummary.editDate, false)
                            |  (всего #{' '}
                            a(href='#{topic.link}/#{comment.id}/history')
                                | исправлений: #{comment.editSummary.editCount}
                            | )
        
                    if comment.userAgent
                        br
                        span.sign_more
                            | #{comment.userAgent}
        
                if !comment.deleted && showMenu
                    div.reply
                        ul
                            if topic.commentsAllowed
                                li
                                    a(itemprop=replyItemprop, href='add_comment.jsp?topic=#{topic.id}&replyto=#{comment.id}')
                                        | Ответить
                                        span.hideon-phone
                                            |  на это сообщение

                            | #{' '}
        
                            if comment.editable
                                li
                                    a(href='/edit_comment?original=#{comment.id}&topic=#{topic.id}')
                                        | Править
        
                            | #{' '}
        
                            if comment.deletable
                                li
                                    a(href='/delete_comment.jsp?msgid=#{comment.id}')
                                        | Удалить
        
                            | #{' '}
        
                            li
                                a(href='#{topic.link}?cid=#{comment.id}')
                                    | Ссылка
    
mixin comment(comment, enableSchema, topic, showMenu)
