//- пользователь
    user - класс ApiUser
    link - ставить ли ссылку на профиль
    rel - значение атрибута rel ссылки
    itemprop - значение атрибута itemprop ссылки
mixin user(user, link, rel, itemprop)
    if user.blocked
        s
            if link
                a(href='/people/#{user.nick}/profile',rel=rel,itemprop=itemprop)
                    | #{user.nick}
            else
                | #{user.nick}
    else
        if link && !user.anonymous
            a(href='/people/#{user.nick}/profile',rel=rel,itemprop=itemprop)
                | #{user.nick}
        else
            | #{user.nick}
